/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 10px 0;
    width: 100%;
}

.header__container {
    margin: auto;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container > h2 {
    color: #fccd07;
    font-size: 36px;
}

.header__container > h2 > span {
    font-size: 26px;
}

.header__container a {
    background-color: #fccd07;
    border-radius: 6px;
    color: #000;
    padding: 6px;
    text-decoration: none;
}

/* questions */
.title {
    margin-bottom: 1em;
}

.initialDescription {
    margin-bottom: 22px;
}

.questions {
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 32px;
}

.question {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 30px;
}

.alternativeList {
    list-style: none;
}

.alternativeList li {
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px;

    transition: all ease-in-out 0.2s;
}

.alternativeList li:hover {
    background-color: #fccd07;
    border-color: #fccd07;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.questionDescription {
    margin-bottom: 1em;
    text-align: justify;
}

.questionAlternatives {
    padding: 10px 0;
}


.btnSendAnswers {
    background-color: #fccd07;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #000;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.score {
    padding: 60px 0;
}

@media screen and (max-width: 600px) {

    .header {
        background-color: #efefef;
        padding: 32px 0;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }


    .header__container > h2,
    .header__container > a {
        margin-bottom: 20px;
    }

    .header__container > h2 {
        font-size: 56px;
    }

    .header__container > h2 > span {
        font-size: 46px;
    }

    .header__container > a {
        padding: 12px;
        font-size: 18px;
    }


    .questions {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 18px;
    }   

    .question {
        border: none;
        border-radius: 6px;
        font-size: 24px;
        margin-bottom: 42px;
        padding: 0;
    }

    .questionDescription {
        font-size: 24px;
    }

    .alternativeList li,
    .btnSendAnswers {
        border: 1px solid #ddd;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .btnSendAnswers {
        font-size: 18px;
    }


    .title {
        font-size: 38px;
    }

    .initialDescription {
        font-size: 24px;
    }

}